<div class="dashboard_form-inner_section">
  <!--<div class="form_header_cover"><h1>Financial Records</h1></div>-->
  <div class="form_cover margin_bottom_30px">
    <%= form_with url: import_financial_records_path, local: true, multipart: true do %>
      <div class="form-inputs">
        <%= label_tag :file %>
        <%= file_field_tag :file %>
      </div>
      <div class="form-actions">
        <%= submit_tag "Import Excel File" %>
      </div>
    <% end %>
  </div>

  <div class="form_info_cover margin_bottom_30px">
    <div class="form_info_link_cover margin_bottom_15px"><%= link_to "Export to Excel", export_financial_records_path(format: :xlsx) %></div>
    <div class="form_info_table_cover">
      <table>
        <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Debit (paid-in)</th>
          <th>Credit (paid-out)</th>
        </tr>
        </thead>
        <tbody>
        <% if @financial_records.present? %>
          <% @financial_records.each do |record| %>
            <tr>
              <td><%= record.date %></td>
              <td><%= record.description %></td>
              <td><%= record.debit_paid_out %></td>
              <td><%= record.credit_paid_in %></td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <!--section-->
    <table class="margin_bottom_15px">
      <thead>
      <tr>
        <th>Total Debit Amount (paid-in)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @total_debit_amount %></td>
      </tr>
      </tbody>
    </table>
    <!--section-->
    <table class="margin_bottom_15px">
      <thead>
      <tr>
        <th>Total Credit Amount (paid-out)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @total_credit_amount %></td>
      </tr>
      </tbody>
    </table>

    <!--section-->
    <table class="margin_bottom_15px">
      <thead>
      <tr>
        <th>Total Debit (paid-in) - Credit (paid-out) Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @total_amount %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
