<h1>FinancialRecords#index</h1>



<div class="dashboard_form-inner_section">
  <%= simple_form_for :financial_records, url: import_financial_records_path, html: { multipart: true } do |f| %>

    <div class="form-inputs">
      <%= f.input :file, as: :file, label: 'Choose File' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Import Excel File" %>
    </div>
  <% end %>
</div>




<div class="original_content hide">
  <%= form_with url: import_financial_records_path, local: true, multipart: true do %>
    <div class="field">
      <%= label_tag :file %>
      <%= file_field_tag :file %>
    </div>
    <div class="actions">
      <%= submit_tag "Import Excel File" %>
    </div>
  <% end %>
</div>
